name: CI

on: [push, pull_request, workflow_dispatch]

concurrency:
  group: environment-${{ github.ref }}
  cancel-in-progress: true

env:
  DISPLAY: ":99"
  GALLIUM_DRIVER: llvmpipe

defaults:
  run:
    shell: bash

jobs:
  build:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    name: ${{ matrix.platform.name }} ${{ matrix.config.name }} ${{ matrix.type.name }}
    runs-on: ${{ matrix.platform.os }}

    env:
      CMAKE_CXX_COMPILER_LAUNCHER: ccache

    strategy:
      fail-fast: false
      matrix:
        platform:
          - { name: Windows VS2022 x64, os: windows-2022 }
          - { name: Linux GCC,         os: ubuntu-latest }
          - { name: Linux Clang,       os: ubuntu-latest, flags: -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ }
        config:
          - { name: Shared, flags: -DBUILD_SHARED_LIBS=TRUE }
          - { name: Static, flags: -DBUILD_SHARED_LIBS=FALSE }
        type:
          - { name: Release }
          - { name: Debug, flags: -DCMAKE_BUILD_TYPE=Debug }

    steps:
      - uses: actions/checkout@v4

      - name: Set Visual Studio Architecture
        if: contains(matrix.platform.name, 'Windows VS')
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Get CMake and Ninja
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ${{ runner.os == 'Windows' && '3.25' || '3.22' }}
          ninjaVersion: latest

      - name: Install Linux Dependencies
        if: runner.os == 'Linux'
        run: |
          CLANG_VERSION=$(clang++ --version | sed -n 's/.*version \([0-9]\+\)\..*/\1/p')
          sudo apt-get update
          sudo apt-get install -y \
            xorg-dev libxrandr-dev libxcursor-dev libxi-dev libudev-dev \
            libflac-dev libvorbis-dev libgl1-mesa-dev libegl1-mesa-dev \
            libdrm-dev libgbm-dev xvfb fluxbox ccache gcovr \
            ${{ matrix.platform.name == 'Linux Clang' && 'llvm-' || '' }}$CLANG_VERSION
          sudo apt-get remove -y libasound2

      - name: Setup CCache
        uses: hendrikmuhs/ccache-action@v1.2.12
        with:
          verbose: 2
          key: ${{ matrix.platform.name }}-${{ matrix.config.name }}-${{ matrix.type.name }}

      - name: Configure CMake
        run: cmake --preset dev -DCMAKE_VERBOSE_MAKEFILE=ON \
             ${{ matrix.platform.flags }} \
             ${{ matrix.config.flags }} \
             ${{ matrix.type.flags }}

      - name: Build
        run: cmake --build build --config ${{ matrix.type.name == 'Debug' && 'Debug' || 'Release' }} --target CyrexMC

  format:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    name: Formatting
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - run: cmake -DCLANG_FORMAT_EXECUTABLE=clang-format-14 -P cmake/Format.cmake
      - run: git diff --exit-code

  tidy:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    name: Analyzing on ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - { name: Windows, os: windows-latest, flags: -GNinja }
          - { name: Linux,   os: ubuntu-latest }

    steps:
      - uses: actions/checkout@v4

      - uses: lukka/get-cmake@latest
        with:
          cmakeVersion: latest
          ninjaVersion: latest

      - name: Install Windows Dependencies
        if: runner.os == 'Windows'
        run: curl.exe -o run-clang-tidy https://raw.githubusercontent.com/llvm/llvm-project/llvmorg-15.0.7/clang-tools-extra/clang-tidy/tool/run-clang-tidy.py

      - name: Install Linux Dependencies
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y \
          libfreetype-dev libxrandr-dev libxcursor-dev libxi-dev libudev-dev \
          libflac-dev libvorbis-dev libgl1-mesa-dev libegl1-mesa-dev \
          libdrm-dev libgbm-dev

      - name: Configure
        run: cmake --preset dev -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_UNITY_BUILD=ON ${{ matrix.platform.flags }}

      - name: Analyze Code
        run: cmake --build build --target tidy

  sanitize:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    name: Sanitizing on ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - { name: Linux,               os: ubuntu-latest }
          - { name: Linux DRM,           os: ubuntu-latest, flags: -DSFML_RUN_DISPLAY_TESTS=OFF -DSFML_USE_DRM=ON }
          - { name: Linux GCC OpenGL ES, os: ubuntu-latest, flags: -DSFML_RUN_DISPLAY_TESTS=OFF -DSFML_OPENGL_ES=ON }

    steps:
      - uses: actions/checkout@v4

      - uses: lukka/get-cmake@latest
        with:
          cmakeVersion: latest
          ninjaVersion: latest

      - name: Install Linux Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            xorg-dev libxrandr-dev libxcursor-dev libxi-dev libudev-dev \
            libflac-dev libvorbis-dev libgl1-mesa-dev libegl1-mesa-dev \
            libdrm-dev libgbm-dev xvfb fluxbox
          sudo apt-get remove -y libasound2

      - name: Configure
        run: cmake --preset dev -GNinja -DCMAKE_BUILD_TYPE=Debug \
             -DCMAKE_CXX_COMPILER=clang++ \
             -DSFML_BUILD_EXAMPLES=OFF \
             -DENABLE_SANITIZERS=ON \
             ${{ matrix.platform.flags }}

      - name: Build
        run: cmake --build build --target CyrexMC
